.ChatBoxPage {
  background-color: #E5E5E5;

  width: calc( 100% );
  height: calc(100% - 10px);
  margin-top: 10px;
  
  display: flex;
  flex-direction: row;

  border-radius: 20px 0px 0px 0px;
}

.ChatBoxPage .ChatBox {
  background-color: blueviolet;
}

.ChatBox .messages {
  background-color: brown;
  height: calc(100% - 64px - 64px);
}

.ChatBox .newMessage {
  background-color: darkcyan;
  
  height: 64px;
  
  background: #FFFFFF;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05);
}
