.ChatBoxPage {
  background-color: #E5E5E5;

  width: 100%;
  height: calc(100% - 10px);
  margin-top: 10px;
  
  display: flex;
  flex-direction: row;

  border-radius: 20px 0px 0px 0px;
}

.ChatBox {
  width: calc(100% - 360px);
}

.scroll {
  height: calc(100% - 64px - 64px);
  width: 100%;
  overflow: auto;
}

.scroll .lastMessageDate {
  display: flex;

  margin: 21px 20px 30px 20px;

  text-align: center;
  justify-content: center;
}

.lastMessageDate .line {
  height: 0px;
  width: 100%;

  margin: auto 0;
  line-height: 44px;
  border: 1px solid #DDDDDD;
}

.lastMessageDate p {
  width: 324px;
  
  line-height: 44px;

  background: #DBF3F8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.ChatBox .messages {
  height: calc(100% - 64px - 64px);
}

.ChatBox .newMessage {
  height: 64px;
  
  background: #FFFFFF;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.ChatBox .newMessage input {
  height: 16px;
  width: 60%;
  max-width: 478px;

  margin: 24px 30px 24px 30px;
  border: 0;
}
.ChatBox .newMessage ::-webkit-input-placeholder {
  color: #999999;
}
.ChatBox .newMessage :-moz-placeholder {
  color: #999999;
}
.ChatBox .newMessage ::-moz-placeholder {
  color: #999999;  
}
.ChatBox .newMessage :-ms-input-placeholder {  
  color: #999999;  
}

.ChatBox .newMessage .actions {
  float: right;
}

.ChatBox .newMessage button {
  height: 38px;
  width: 38px;
  background: none;
  border: 0;

  margin: 13px 0;

  font-family: FontAwesome;
  font-size: 20px;
  color: #A7B6C2;
}

.newMessage > button:first-of-type {
  background-color: red;
}
