.messageLine {
  background-color: darkmagenta;

  display: flex;
  flex-direction: column;
}

.messageLine .messageBlock {
  background-color: darkgreen;

  display: flex;
  flex-direction: column;
}

.messageBlock .aboutThisMessage {
  background-color: darkorange;
  display: flex;
  flex-direction: row;
}
