.ContactInfo {
  width: 296px;
  
  background-color: #ffffff;
  box-shadow: -4px 0px 2px rgba(0, 0, 0, 0.02);
}

.ContactInfo .User {
  margin: 9px 0 9px 5px;
}

.ContactInfo .User .UserInfo p{
  color: #222222;
}

.ContactInfo .User .UserInfo sub{
  color: #79accd;
}


.ContactInfo .info {
  display: flex;
  flex-direction: column;
}

.ContactInfo .info section {
  margin: 0 20px 30px 20px;
}

.ContactInfo .info .buttons {
  display: flex;
  flex-direction: row;

  margin-bottom: 21px;
}

.info .buttons button {
  height: 37px;
  width: 123px;

  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px #E5E5E5;
  border-radius: 4px;

  font-family: FontAwesome;
  font-size: 15px;
}

.info .buttons .edit {
  color: #00A7CF;
}

.info .buttons .delete {
 color: #E33E1A;
}

.info .buttons div {
  width: 10px;
}

.info .lastConversations p {
  font-size: 15px;
}

.info span {
  color: #79accd;
  font-weight: bold;
  font-size: 12px;
}
